Vinoteca/Vinoteca-war/src/conf/xml-resources/web-service-references/PedidoWS/wsdl/localhost_8080/PedidoWS/PedidoWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://WS/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://WS/" name="PedidoWS">
<types>
<xsd:schema>
<xsd:import namespace="http://WS/" schemaLocation="http://localhost:8080/PedidoWS/PedidoWS?xsd=1"/>
</xsd:schema>
</types>
<message name="newPedido">
<part name="parameters" element="tns:newPedido"/>
</message>
<message name="editPedido">
<part name="parameters" element="tns:editPedido"/>
</message>
<message name="getPedidosAbonado">
<part name="parameters" element="tns:getPedidosAbonado"/>
</message>
<message name="getPedidosAbonadoResponse">
<part name="parameters" element="tns:getPedidosAbonadoResponse"/>
</message>
<message name="getPedidosPendientes">
<part name="parameters" element="tns:getPedidosPendientes"/>
</message>
<message name="getPedidosPendientesResponse">
<part name="parameters" element="tns:getPedidosPendientesResponse"/>
</message>
<portType name="PedidoWS">
<operation name="newPedido">
<input wsam:Action="http://WS/PedidoWS/newPedido" message="tns:newPedido"/>
</operation>
<operation name="editPedido">
<input wsam:Action="http://WS/PedidoWS/editPedido" message="tns:editPedido"/>
</operation>
<operation name="getPedidosAbonado">
<input wsam:Action="http://WS/PedidoWS/getPedidosAbonadoRequest" message="tns:getPedidosAbonado"/>
<output wsam:Action="http://WS/PedidoWS/getPedidosAbonadoResponse" message="tns:getPedidosAbonadoResponse"/>
</operation>
<operation name="getPedidosPendientes">
<input wsam:Action="http://WS/PedidoWS/getPedidosPendientesRequest" message="tns:getPedidosPendientes"/>
<output wsam:Action="http://WS/PedidoWS/getPedidosPendientesResponse" message="tns:getPedidosPendientesResponse"/>
</operation>
</portType>
<binding name="PedidoWSPortBinding" type="tns:PedidoWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="newPedido">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="editPedido">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="getPedidosAbonado">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getPedidosPendientes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="PedidoWS">
<port name="PedidoWSPort" binding="tns:PedidoWSPortBinding">
<soap:address location="http://localhost:8080/PedidoWS/PedidoWS"/>
</port>
</service>
</definitions>